$size: 70px;

.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alpha {
    border: #{$size} solid yellow;
    border-right-color: transparent;
}

.beta {
    border: #{$size} solid transparent;
    border-right-color: yellow;
}

.alpha, .beta {
    border-radius: 50%;
}